PORT={{ backend_port }}
MONGO_URI=mongodb://{{ mongodb_app_user }}:{{ mongodb_app_password }}@{{ hostvars['db_server']['ansible_host'] }}:{{ mongodb_port }}/{{ mongodb_database }}?authSource={{ mongodb_database }}
NODE_ENV=production